<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{fragments :: head}"></div>
<title>Pizza</title>
</head>
<body>
	<img style="width: 100%; height: 100vh;" th:src="@{/img/farina.jpg}">
	<a th:href="@{/}" class="btn btn-success"
 style="position:absolute; left: 50%;bottom: 5%; text-decoration: none; transform: translate(-50%,-50%);">Home</a>
	<div class="containerForm">
		<h1 class="text-center pb-3 text-uppercase">
		Inserisci la tua Nuova Pizza
		</h1>
		<div class="d-flex flex-column align-items-center justify-content-center">
			<form th:object="${pizza}" th:action="@{/pizze/newPizza}"  method="post" class="d-flex flex-column " style="width: 80%;">
				<label for="nome">Inserisci nome:</label>
				<input class="form-control" type="text" id="nome" th:field="*{nome}" th:errorClass="  is-invalid">
					<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
						<ul>
						   <li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
						</ul>
  					</div>
				<label for="ingredienti">Inserisci Ingredienti:</label>
				<input class="form-control" type="text" id="ingredienti" th:field="*{descrizione}" th:errorClass="is-invalid" >
				<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
						<ul>
						   <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
						</ul>
  					</div>
				<label for="prezzo">Inserisci il prezzo:</label>
				<input class="form-control" type="number"  step="0.01" id="prezzo" th:field="*{prezzo}" th:errorClass="is-invalid">
				<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
						<ul>
						   <li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}"></li>
						</ul>
  					</div>
				<label for="foto">Inserisci una foto:</label>
				<input type="url"  id="foto" th:field="*{foto}">
				<input type="submit" class="btn btn-success" value="Crea">
			</form>
		 </div>
	</div>
<div th:replace="~{fragments :: script}"></div>
</body>
</html>
<style>
	input{
		margin-bottom: 15px;
	}
	.containerForm{
		padding: 30px;
		border-radius: 15px;
		background-color: wheat;
		display: flex;
		flex-direction: column;
	    position: absolute;
	    top: 50%;
	    width: 55%;
	    transform: translate(50%,-50%);
	    right: 50%;
	    justify-content: center;
	}
</style>